<% content_for :javascripts do %>
	<%= javascript_include_tag "sentences.js" %>
	
	<%= javascript_include_tag "views/sentences/sentences_index.js" %>
	<%= javascript_include_tag "views/sentences/sentence.js" %>

	<%= javascript_include_tag "views/comments/add_comment.js" %>
	<%= javascript_include_tag "views/comments/comment.js" %>
	<%= javascript_include_tag "views/comments/comments_index.js" %>

	<%= javascript_include_tag "views/articles/add_articles_index.js" %>

	<%= javascript_include_tag "models/sentence.js" %>
	<%= javascript_include_tag "models/comment.js" %>
	<%= javascript_include_tag "models/sentence.js" %>

	<%= javascript_include_tag "collections/tags.js" %>
	<%= javascript_include_tag "collections/comments.js" %>
	<%= javascript_include_tag "collections/sentences.js" %>
	<%= javascript_include_tag "models/add_article.js" %>

	<%= javascript_include_tag "routers/sentences_router.js" %>


<% end %>

<div class="container">
	
	<div class="row ">
		<div class="col-md-8 panel panel-default" >
			<div class="panel-body" id='article'></div>
		</div>
		<div class="col-md-4 " id="comment-body" >			
		</div>
	<div>
</div>


