<% content_for :javascripts do %>
	<%= javascript_include_tag "articles.js" %>
	

	<%= javascript_include_tag "views/articles/add_articles_index.js" %>
	<%= javascript_include_tag "views/articles/articles_index.js" %>
	<%= javascript_include_tag "views/articles/article_sentences.js" %>
	<%= javascript_include_tag "views/articles/article.js" %>


	<%= javascript_include_tag "collections/article_sentences.js" %>	
	<%= javascript_include_tag "collections/articles.js" %>	

	<%= javascript_include_tag "models/add_article.js" %>
	<%= javascript_include_tag "models/article.js" %>

	<%= javascript_include_tag "routers/articles_router.js" %>

<% end %>

<div class="container">
	<div class="row ">
		<div class="col-md-8 panel panel-default" >
			<div class="panel-body" id='main-part'></div>
		</div>
		<div class="col-md-4 " id="right-slide" >	
			<h2>Slide goes here</h2>	
		</div>
	<div>
</div>